* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #180000;
    color: #EEE6E6;
    height: 100vh;
    margin: auto;
    margin-top: -20px;
    overflow-x: hidden;
}


p {
    text-align: justify;
    text-indent: 50px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/*cabeçalho*/
header#cabecalho {
    height: 190px;
    border-right: 6mm ridge rgba(162, 102, 102, 0.671);
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 60%, #C50404 100%);
}


header#cabecalho h1 {
    position: relative;
    left: 200px;
    top: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20pt;
    padding: 0px;
    margin-bottom: 0px;
}

header#cabecalho h2 {
    position: relative;
    left: 210px;
    top: 55px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    font-size: 10pt;
    padding: 0px;
    margin-top: 0px;
}

/*Menu*/
nav#menu {
    display: block;
}

nav#Menu ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    left: 850px;
    top: 150px;
}

nav#Menu li {
    display: inline-table;
    background-color: #180000;
    padding: 10px;
    transition: background-color 1s;
}

nav#Menu li:hover {
    background-color: #600000;
}

nav#Menu h1 {
    display: none;
}

nav#Menu a {
    text-decoration: none;
    transition: color 1s;
}

/*Corpo noticia*/
section#corpo {
    display: block;
    margin-left: 30px;
    width: 850px;
    margin-bottom: 50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
section#corpo article#descricao h1{
    font-size: 15pt;
}section#corpo article#descricao p {
    font-size: 10pt;
    font-weight: bold;
    text-transform: uppercase;
    text-indent: 0;
    text-align:justify;
}section#corpo article#descricao span{
    font-weight: normal;
}

section#corpo article#principal h1{
    font-size: 20pt;
    font-family: Arial;
}section#corpo article#principal p#list{
    text-indent: 0pt;
}

/*tabela*/
aside#lateral {
    display: relative;
    width: 550px;
    float: right;
    margin-right: 30px;
    margin-top: -1070px;
    position: sticky;
}aside#lateral table#participantes caption{
    font-size: 20pt;
    font-weight: bold;
    text-align: center;
}

aside#lateral table#participantes thead#Sup{
    background-color: #630a0a;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px;
    font-weight: bold;
    border: spacing 0%;
    margin-left:0%;
    text-align: center;
}
aside#lateral table#participantes {
    border: 2px solid rgba(255, 255, 255, 0.315);
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}aside#lateral table#participantes tbody tr td{
    border: .5px solid rgba(255, 255, 255, 0.175);
    margin: 10px;
    padding: 10px;
}

/*Rodape*/
footer{
    background-color: #f3f3f353;
    height: 100px;
}
footer p{
    text-align: center;
    font-size: 16px;
    color: #b8b5b5;
}